
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.fc-event {
  border-radius: 25px;
}

.fc-not-end{
  .fc-content:before{
    content:"➡";
    display: block;

    clear: both;
    font-size: 16pt;
  }
}
.fc-not-start{
  .fc-content:before{
    content:"⬅";
    display: block;
    clear: both;
    font-size: 16pt;
  }
}